.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.previewing .mapbox-gl-draw_ctrl-draw-btn {
    display: none;
}

.previewing .no-print {
    position: relative;
    opacity: .5;
    z-index: 9;
}

@media print {
    .mapboxgl-control-container {
        display: none;
    }

    .no-print {
        display: none;
    }

    * {
        outline: 0;
    }
}

@page {
    margin: 0;
}
